@import "tailwindcss";

.colorful-text {
    background: linear-gradient(78deg, #3B91FF -3.23%, #0D5EFF 51.11%, #C069FF 98.65%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.colorful-button {
    background: linear-gradient(78deg, #3B91FF -3.23%, #0D5EFF 51.11%, #C069FF 98.65%);
    color: #fff;
    border: none;
}

.colorful-outline-button {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(45deg, rgb(242, 87, 180), rgb(230, 46, 163), rgb(169, 143, 255), rgb(8, 64, 248), rgb(66, 228, 252), rgb(255, 102, 115), rgb(255, 226, 122), rgb(255, 226, 122));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.terms-dialog{
    background-color: rgb(255, 255, 255);
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(45deg, rgb(242, 87, 180), rgb(230, 46, 163), rgb(169, 143, 255), rgb(8, 64, 248), rgb(66, 228, 252), rgb(255, 102, 115), rgb(255, 226, 122), rgb(255, 226, 122));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.red-bg::after {
    background-image: url("/src/assets/red-bg.png");
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
}

:root {
    --td-brand-color: #0D5EFF;
    --td-warning-color: yellow;
    --td-error-color: red;
    --td-success-color: green;
}